@font-face{
    font-family: Metropolis;
    src: url("../fonts/Metropolis-Regular.woff") format("woof"),
    url("../fonts/Metropolis-Regular.woff2") format("woff2"),
    url("../fonts/Metropolis-SemiBold.woff") format("woff"),
    url("../fonts/Metropolis-SemiBold.woff2") format("woff2");
}
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Metropolis";
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}

.container {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .header {
    text-align: center;
}

.container .header img {
    width: 123px;
    height: 50px;
    margin-bottom: 40px;
}

.container .header .txt {
    font-weight: bold;
    font-size: 18px;
    color: #222222;
    margin-top: 0;
    margin-bottom: 50px;
}

.container .switch {
    text-align: center;
}

.container .switch .btn {
    width: 123px;
    height: 48px;
    border: 1px solid #9B9B9B;
    background-color: #ffffff;
    color: #9B9B9B;
    margin-bottom: 40px;
}

.container .switch .btn:focus{
    background-color: #DB3022;;
    color: #ffffff;
    outline: none;
}

.container .switch .btn.one {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right-width: 0;
}

.container .switch .btn.two {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left-width: 0;
}

.container .auth .input-wrapper + .input-wrapper {
    margin-top: 16px;
}

.container .auth .input-wrapper + .input-wrapper + .input-wrapper {
    margin-top: 16px;
    margin-bottom: 50px;
}

.container .auth .input-wrapper input {
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    border-radius: 4px;
    padding: 0 20px;
    border: 1px solid #9B9B9B;
}

.container .auth .input-wrapper input::placeholder {
    color: #9B9B9B;
}

.container .auth .forgot-link {
    text-align: right;
    margin-top: 26px;
    margin-bottom: 26px;
}

.container .auth .forgot-link a {
    color: #DB3022;
    text-decoration: none;
    font-size: 14px;
}

.container .auth .btn {
    width: 100%;
    height: 48px;
    border-radius: 25px;
    background-color: #DB3022;
    border-width: 0;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.container .register-link {
    text-align: center;
    font-size: 14px;
}

.container .register-link a {
    color: #DB3022;
    text-decoration: none;
}

.container .login-link {
    text-align: center;
    font-size: 14px;
}

.container .login-link a {
    color: #DB3022;
    text-decoration: none;
}

.navbar {
    display: flex;
    height: 100px;
    padding: 0 100px;
    align-items: center;
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}

.navbar .icon img {
    width: 119px;
    height: 44px;
}

.navbar .search-bar {
    padding: 0 50px;
    display: flex;
    align-items: center;
}

.navbar .search-bar input {
    width: 507px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #8E8E93;
    border-radius: 23px;
    box-sizing: border-box;
    padding: 0 20px;
}

.navbar .search-bar input::placeholder {
    color: #9B9B9B;
}

.navbar .search-bar input:focus {
    outline: none;
}

.navbar .search-bar .search {
    display: inline-block;
    position: relative;
}

.navbar .search-bar .search img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar .search-bar button {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #8E8E93;
    border-radius: 12px;
    margin-left: 11px;
}

.navbar .nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.navbar .nav .cart {
    margin-right: 40px;
}

.navbar .nav a {
    text-decoration: none;
}

.navbar .nav .btn {
    display: flex;
    width: 100px;
    height: 36px;
    border: 1px solid #8E8E93;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #9B9B9B;
}

.navbar .nav .btn.one {
    border: 1px solid #DB3022;
    background-color: #DB3022;
    color: #fff;
    line-height: 20px;
}

.slider {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    height: 180px;
    justify-content: space-between;
    margin-top: 50px;
}

.slider .img {
    position: relative;
}

.slider .left1 {
    position: absolute;
    top: 200px;
    left: 150px;
}

.slider .right1 {
    position: absolute;
    top: 200px;
    right: 150px;
}

.slider .img .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 180px;
    text-align: center;
}

.list {
    display: flex;
    position: absolute;
    padding: 0 100px;
    top: 320px;
    left: -40px;
}

.list .item li {
    display: inline-block;
    zoom: 2;
}

.txt0 {
    padding: 0 100px;
    margin-top: 50px;
}

.txt0 h1 {
    margin: 0;
}

.txt0 .txt1 {
    margin-left: 2px;
    margin-top: 4px;
    font-size: 12px;
}

.cat {
    position: relative;
}

.cat .left2 {
    position: absolute;
    top: 145px;
    left: 60px;
}

.cat .right2 {
    position: absolute;
    top: 145px;
    right: 60px;
}

.category {
    position: absolute;
    width: 1150px;
    height: 315px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(173, 173, 173, 0.25);
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    box-sizing: border-box;
    padding: 0 85px;
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category .cat1 {
    width: 110px;
    height: 120px;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    margin-top: 25px;
    text-align: center;
    position: relative;
}

.category .cat1 .des {
    font-size: 14px;
    font-weight: 600;
    color: #222222;
}

.category .cat1 .img1 {
    width: 50px;
    height: 63px;
    margin-top: 16px;
    margin-bottom: 11px;
}

.category .cat1 .img2 {
    width: 65px;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 14px;
}

.category .cat1 .img3 {
    width: 60px;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 14px;
}

.category .cat1 .img4 {
    width: 35px;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 14px;
}

.category .cat1 .img5 {
    width: 54px;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 14px;
}

.category .cat1 .img6 {
    width: 82px;
    height: 53px;
    margin-top: 16px;
    margin-bottom: 17px;
}

.category .cat1 .img7 {
    width: 60px;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 14px;
}

.category .cat1 .img8 {
    width: 76px;
    height: 57px;
    margin-top: 16px;
    margin-bottom: 17px;
}

.category .cat2 {
    width: 110px;
    height: 120px;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}

.category .cat2 .des {
    font-size: 14px;
    font-weight: 600;
    color: #222222;
}

.category .cat2 .img9 {
    width: 63px;
    height: 63px;
    margin-top: 16px;
    margin-bottom: 11px;
}

.category .cat2 .img10 {
    width: 63px;
    height: 63px;
    margin-top: 16px;
    margin-bottom: 11px;
}

.category .cat2 .img11 {
    width: 75px;
    height: 42px;
    margin-top: 20px;
    margin-bottom: 28px;
}

.category .cat2 .img12 {
    width: 66px;
    height: 50px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.category .cat2 .img13 {
    width: 36px;
    height: 60px;
    margin-top: 11px;
    margin-bottom: 19px;
}

.category .cat2 .img14 {
    width: 53px;
    height: 64px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.category .cat2 .img15 {
    width: 48px;
    height: 64px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.category .cat2 .img16 {
    width: 64px;
    height: 64px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.txt2 {
    margin-top: 390px;
    margin-left: 100px;
}

.txt2 h1 {
    margin: 0;
}

.txt2 .txt1 {
    margin-left: 2px;
    margin-top: 4px;
    font-size: 12px;
}

.new {
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new .item {
    margin-top: 25px;
    width: 208px;
    height: 278px;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
    border-radius: 8px;
}

.new .item img {
    width: 208px;
    height: 136px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    object-fit: cover;
}

.new .item .des {
    width: 184px;
    height: 48px;
    padding: 0;
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    display: flex;
    align-items: center;
}

.new .item .price {
    color: #DB3022;
    font-size: 16px;
    font-weight: 600;
    margin-top: 6px;
    margin-left: 12px;
}

.new .item .store {
    color: #9B9B9B;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    margin-top: 6px;
    margin-left: 12px;
}

.new .item .rating {
    margin-top: 10px;
    margin-left: 12px;
}

.new .item .rating img {
    width: 95px;
    height: 14px;
}

.txt3 {
    margin-top: 50px;
    margin-left: 100px;
}

.txt3 h1 {
    margin: 0;
}

.txt3 .txt1 {
    margin-top: 4px;
    margin-left: 2px;
}

.popular {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 114px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular .item {
    margin-top: 25px;
    width: 208px;
    height: 278px;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
    border-radius: 8px;
}

.popular .item img {
    width: 208px;
    height: 136px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    object-fit: cover;
}

.popular .item .des {
    width: 184px;
    height: 48px;
    padding: 0;
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    display: flex;
    align-items: center;
}

.popular .item .price {
    color: #DB3022;
    font-size: 16px;
    font-weight: 600;
    margin-top: 6px;
    margin-left: 12px;
}

.popular .item .store {
    color: #9B9B9B;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    margin-top: 6px;
    margin-left: 12px;
}

.popular .item .rating {
    margin-top: 10px;
    margin-left: 12px;
}

.popular .item .rating img {
    width: 95px;
    height: 14px;
}

.txt4 {
    font-size: 34px;
    font-weight: bold;
    color: #222222;
    margin-left: 100px;
    margin-top: 50px;
}

.cart-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;grid-auto-rows: auto;
    margin-top: 30px;
}

.cart-wrapper .select {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 20px;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    width: 720px;
    height: 64px;
    align-items: center;
}

.cart-wrapper .select .check {
    margin-left: 20px;
}

.cart-wrapper .select .check input {
    width: 15px;
    height: 12px;
    margin: 0;
}

.cart-wrapper .select .des {
    margin-left: 20px;
    font-size: 16px;
}

.cart-wrapper .select .des .two {
    color: #9B9B9B;
}

.cart-wrapper .select .del {
    flex: 1;
    text-align: end;
    width: 51px;
    height: 16px;
    margin-right: 22px;
    color: #DB3022
}

.cart-wrapper .select .del span {
    font-size: 16px;
    font-weight: 500;
}

.cart-wrapper .item {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 10px;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    width: 720px;
    height: 126px;
    align-items: center;
}

.cart-wrapper .item .check {
    margin-left: 20px;
}

.cart-wrapper .item .check input {
    width: 15px;
    height: 12px;
    margin: 0;
}

.cart-wrapper .item .one {
    width: 70px;
    height: 69px;
    border-radius: 8px;
    margin-left: 28px;
    margin-right: 14px;
}

.cart-wrapper .item .one img {
    width: 70px;
    height: 69px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-wrapper .item .two {
    display: flex;
    flex-direction: column;
}

.cart-wrapper .item .two .a {
    width: 255px;
    font-size: 16px;
    font-weight: bold;
}

.cart-wrapper .item .two .b {
    font-size: 12px;
    font-weight: bold;
    color: #9B9B9B;
}

.cart-wrapper .item .three {
    margin-left: 35px;
    margin-right: 70px;
}

.cart-wrapper .item .three img {
    width: 112px;
    height: 36px;
}

.cart-wrapper .item .four span {
    font-size: 16px;
    font-weight: 600;
}

.cart-wrapper .item2 {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 340px;
    grid-column: 1;
    grid-row: 3;
    display: flex;
    width: 720px;
    height: 126px;
    align-items: center;
}

.cart-wrapper .item2 .check {
    margin-left: 20px;
}

.cart-wrapper .item2 .check input {
    width: 15px;
    height: 12px;
    margin: 0;
}

.cart-wrapper .item2 .one {
    width: 70px;
    height: 69px;
    border-radius: 8px;
    margin-left: 28px;
    margin-right: 14px;
}

.cart-wrapper .item2 .one img {
    width: 70px;
    height: 69px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-wrapper .item2 .two {
    display: flex;
    flex-direction: column;
}

.cart-wrapper .item2 .two .a {
    width: 255px;
    font-size: 16px;
    font-weight: bold;
}

.cart-wrapper .item2 .two .b {
    font-size: 12px;
    font-weight: bold;
    color: #9B9B9B;
}

.cart-wrapper .item2 .three {
    margin-left: 35px;
    margin-right: 70px;
}

.cart-wrapper .item2 .three img {
    width: 112px;
    height: 36px;
}

.cart-wrapper .item2 .four span {
    font-size: 16px;
    font-weight: 600;
}

.cart-wrapper .purchase {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
    grid-column: 2;
    grid-row: 1/4;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 180px;
}

.cart-wrapper .purchase .one {
    width: 152px;
    margin-left: 24px;
    margin-top: 24px;
}

.cart-wrapper .purchase .one span {
    font-size: 16px;
    font-weight: 600;
}

.cart-wrapper .purchase .two {
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 30px;
}

.cart-wrapper .purchase .two .des {
    width: 83px;
    font-size: 16px;
    font-weight: 500;
    color: #9B9B9B;
}

.cart-wrapper .purchase .two .price {
    width: 59px;
    font-size: 18px;
    font-weight: 600;
    flex: 1;
    text-align: end;
}

.cart-wrapper .purchase .three {
    margin-left: 24px;
    margin-top: 34px;
    margin-bottom: 24px;
}

.cart-wrapper .purchase .three .btn {
    width: 322px;
    height: 36px;
    background-color: #DB3022;
    box-shadow: 0px 4px 8px rgba(211, 38, 38, 0.25);
    border-radius: 25px;
    color: #fff;
    border-width: 0;
    font-size: 14px;
    font-weight: 500;
}

.first {
    display: flex;
    margin-top: 70px;
    margin-left: 101px;
}

.first .one {
    width: 367px;
    height: 378px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.first .one .pict img {
    width: 367px;
    height: 378px;
    object-fit: cover;
    border-radius: 8px;
}

.first .one .pre {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 17px;
    display: flex;
}

.first .one .pre .img1 {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 8px;
}

.first .one .pre .img1 img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 8px;
}

.first .one .pre .img2 {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 10px;
}

.first .one .pre .img2 img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 8px;
}

.first .two {
    margin-left: 28px;
}

.first .two .a {
    font-size: 28px;
    font-weight: 600;
}

.first .two .b {
    font-size: 16px;
    font-weight: 500;
    color: #9B9B9B;
    margin-top: 10px;
}

.first .two .c {
    font-size: 16px;
    font-weight: 500;
    color: #9B9B9B;
    margin-top: 40px;
}

.first .two .d {
    font-size: 33px;
    font-weight: bold;
    margin-top: 10px;
}

.first .two .e {
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
}

.first .two .color {
    margin-top: 14px;
    display: flex;
}

.first .two .color .img1 {
    margin-left: 12px;
}

.first .two .f {
    display: flex;
    margin-top: 40px;
}

.first .two .f .size {
    font-size: 16px;
    font-weight: 600;
}

.first .two .f .jumlah {
    margin-left: 80px;
    font-size: 16px;
    font-weight: 600;
}

.first .two .g {
    display: flex;
    margin-top: 97px;
    align-items: center;
}

.first .two .g button:focus {
    outline: none;
}

.first .two .g .btn1 button {
    width: 160px;
    height: 48px;
    margin-right: 10px;
    border: 1.5px solid #222222;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.first .two .g .btn2 button {
    width: 343px;
    height: 48px;
    background-color: #DB3022;
    border-radius: 25px;
    border-width: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.second {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
}

.second .a h1 {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}

.second .b h3 {
    font-size: 20px;
    font-weight: 600px;
    margin-top: 40px;
    margin-bottom: 10px;
} 

.second .c span {
    font-size: 20px;
    font-weight: 500;
    color: #DB3022;
}

.second .d {
    height: 240px;
    margin-bottom: 50px;
}

.second .d p {
    color: #9B9B9B;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.third {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.third .one h1 {
    margin: 0;
    font-size: 34px;
}

.third .two span {
    font-size: 12px;
    color: #9B9B9B;
}